pandas
numpy
nltk
streamlit
python-dotenv
unstructured
google-generativeai
langchain-huggingface
langchain-text-splitters
langchain-chroma
langchain_community
pymupdf
jq
pysqlite3-binary
packaging
langchain-google-genai
toml
